@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');


@import "tailwindcss";
@plugin "daisyui";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";





body{
  margin: 0;
  padding: 0;
  font-family: poppins , sans-serif;
}
